<div class="container z-2">
  <div class="card shadow-sm">
    <div class="card-header">
      <div class="display-6 fs-4">Member Information</div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="card rounded-2" style="height: 180px">
            <img
              src="https://plus.unsplash.com/premium_photo-1663047716627-e0b6c878761e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
              alt=""
              style="object-fit: cover"
              class="h-100"
            />
          </div>
        </div>
        <div class="col-md-8">
          <div class="container">
            <div class="px-2 py-2 d-flex flex-column gap-2">
              <div class="d-flex align-content-center justify-content-between">
                <div>Member ID</div>
                <div>12345</div>
              </div>
              <div class="d-flex align-content-center justify-content-between">
                <div>Member Name</div>
                <div>Foo Bar</div>
              </div>
              <div class="d-flex align-content-center justify-content-between">
                <div>Email</div>
                <div>fooexample.com</div>
              </div>
              <div class="d-flex align-content-center justify-content-between">
                <div>Mobile</div>
                <div>09876532</div>
              </div>
              <div class="d-flex align-content-center justify-content-between">
                <div>Government ID</div>
                <div>34535454645</div>
              </div>
              <div class="d-flex align-content-center justify-content-between">
                <div>Record Created</div>
                <div>34535454645</div>
              </div>
              <div class="d-flex align-content-center justify-content-between">
                <div>Record Updated</div>
                <div>34535454645</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
