<div class="container p-2 z-2 mt-3" style="max-width: 600px; margin: 0 auto">
  <div class="card">
    <div class="card-header">
      <div class="display-6 fs-4 text-center">Member Registration</div>
    </div>
    <div class="card-body px-5 py-4">
      <form
        method="post"
        [formGroup]="registerForm"
        (ngSubmit)="registerCustomer()"
      >
        <div class="row mt-2">
          <div class="col-md-12">
            <label for="nameId" class="form-label">Full Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter your full name"
              id="nameId"
              name="name"
              required
              formControlName="name"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <label for="emailId" class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter your email"
              id="emailId"
              name="email"
              required
              formControlName="email"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="mt-2">
              <label for="passId" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Enter your password"
                id="passId"
                name="password"
                required
                formControlName="password"
              />
            </div>
          </div>
          <div class="col-sm-12 col-md-6">
            <div class="mt-2">
              <label for="cpassId" class="form-label">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Confirm password"
                id="cpassId"
                required
              />
            </div>
          </div>
        </div>
        <div class="row mt-4 px-3">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!registerForm.valid"
          >
            Register
          </button>
        </div>
      </form>
      <div class="row px-3">
        <button class="btn btn-sm btn-light" (click)="goToLoginPage()">
          Go to login page
        </button>
      </div>
    </div>
  </div>
</div>
