<div class="list-group z-2 p-2">
  <a
    href="#"
    class="list-group-item list-group-item-action"
    routerLink="/home/customers"
    routerLinkActive="active"
  >
    Customers
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action"
    routerLink="/home/accounts"
    routerLinkActive="active"
  >
    Accounts
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action"
    routerLink="/home/transactions"
    routerLinkActive="active"
  >
    Transactions
  </a>
  <a
    href="#"
    class="list-group-item list-group-item-action"
    routerLink="/home/profile"
    routerLinkActive="active"
  >
    Profile
  </a>
</div>
