<div class="card">
  <div class="card-header">
    <h2 class="display-3 fs-3 fw-bolder text-black-50">Summary Report</h2>
  </div>
  <div
    class="card-body bg-body-secondary d-flex align-items-center justify-content-around flex-wrap gap-2"
  >
    <div class="card p-3 shadow-sm">
      <div class="card-header bg-white fs-6">Customers</div>
      <div class="card-body">
        <h3 class="badge bg-secondary fs-6">
          <i class="bi bi-people-fill"></i> {{ customers.length }}
        </h3>
      </div>
    </div>
    <div class="card p-3 shadow-sm">
      <div class="card-header bg-white fs-6">Accounts</div>
      <div class="card-body">
        <h3 class="badge bg-secondary fs-6">
          <i class="bi bi-wallet2"></i> 1234
        </h3>
      </div>
    </div>
    <div class="card p-3 shadow-sm">
      <div class="card-header bg-white fs-6">Transactions</div>
      <div class="card-body">
        <h3 class="badge bg-secondary fs-6">
          <i class="bi bi-credit-card-fill"></i> 23456
        </h3>
      </div>
    </div>

    <div class="card p-3 shadow-sm">
      <div class="card-header bg-white fs-6">Savings</div>
      <div class="card-body">
        <h3 class="badge bg-secondary fs-6">
          <i class="bi bi-coin"></i> 23454.87
        </h3>
      </div>
    </div>
  </div>
</div>
